.logo-size {
    font-size: 40px;
    padding: 15px;
}

.page-title {
    padding: 15px;
}

.form-control {
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 600px;
    margin-left: 20px;
}

.cart-size {
    font-size: 25px;
}

.item {
    text-align: center;
    font-size: 30px;
    color: rgba(0,0,0,.9);
}