<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <i class="fas fa-globe"></i>
                <h6>All Products</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <i class="fas fa-laptop"></i>
            <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <i class="fas fa-tshirt"></i>
                <h6>Fashion</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <i class="fas fa-gem"></i>
            <h6>Jewelery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 class="item-title">{{item.title}}</h5>
                <p class="item-title">{{item.description}}</p>
                <p><strong>Price:</strong>$ {{item.price}}</p>
                <button 
                    class="btn btn-outline-dark"
                    (click)="addToCart(item)">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>